<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <% @all_users.each do |user| %>
      <section class="single-user">
        <img src="<%= user.photo %>" />
        <a href="users/<%= user.id %>">
          <button>
            <div><%= user.name %></div>
            <div>Number of Posts: <%= user.posts_counter%></div>
          </button>
        </a>
      </section>
    <% end %>
  </body>
</html>