.post-link {
  display: block;
}

.post-button {
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  border: 2px solid black;
  padding: 0;
}

.post-button:hover {
  cursor: pointer;
}

.post-info {
  padding: 20px;
  text-align: left;
  position: relative;
}

.comments-info {
  padding: 20px;
  text-align: left;
  font-size: 15px;
  border: 2px solid black;
  border-top: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.pagination {
  background-color: lightgray;
  border: 2px solid black;
  padding: 5px;
  margin-left: calc(50% - 63px);
}

.div-with-delete {
  position: relative;
}

.delete-comment {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
  background-color: lightgray;
  border: 2px solid black;
}
